    body {
        margin: 0;
    }
    
    .mobile {
        display: none;
    }
    
    .clearfix {
        clear: both;
    }
    /* ---------------------HEADER--------------------- */
    
    .header {
        padding: 0 50px;
        z-index: 9;
        /* position: fixed; */
        height: 150px;
    }
    /* .scrolled {
        background-color: #fff;
        transition: 0.3s;
    } */
    
    .container {
        padding: 0;
        width: 1250px;
    }
    
    .header .container .logo img {
        height: 100px;
    }
    
    .header .logo {
        float: left;
        display: inline-block;
        margin-top: 17px;
    }
    
    .main_menu {
        color: #000;
        margin-left: 130px;
        float: left;
        display: inline-block;
    }
    /* .scrolled-menu {
        color: #000;
    } */
    
    a {
        color: #000;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .main_menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .main_menu>ul li {
        letter-spacing: 2px;
        padding: 61px 40px;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
    }
    
    .main_menu ul li:hover {
        color: #cdd72a;
        /* border-top: 5px solid #cdd72a; */
        transition: all 0.5s ease-in-out;
    }
    
    .main_menu .parent {
        position: relative;
    }
    
    .main_menu .parent .sub_menu {
        background-color: white;
        border-top: 3px solid #cdd72a;
        z-index: 1;
        position: absolute;
        top: 150px;
        left: 40px;
        width: 236px;
        text-align: center;
        color: black;
        display: none;
    }
    
    .main_menu .parent .sub_menu li {
        border-top: 1px solid rgb(224, 223, 223);
        border-bottom: 1px solid rgb(224, 223, 223);
        text-align: left;
        letter-spacing: 1px;
        width: 236px;
        font-size: 18px;
        margin: 0;
        padding: 10px 40px;
    }
    
    .main_menu .parent .sub_menu li:hover {
        background-color: rgb(224, 223, 223);
        color: rgb(77, 75, 75);
        letter-spacing: 2px;
        transition: all 0.2s ease-in-out;
    }
    
    .main_menu ul li:hover .sub_menu {
        display: block;
    }
    
    .header .container .donate {
        font-size: 20px;
        padding: 8px 16px;
        margin-top: 52px;
        float: right;
        border: 1px solid #cdd72a;
        background-color: #cdd72a;
        color: white;
        letter-spacing: 2px;
    }
    
    .header .container .donate:hover {
        border: 1px solid black;
        background-color: black;
        transition: all 0.5s ease-in-out;
    }
    /* ---------------------SLIDER--------------------- */
    
    .slider .item img {
        width: 100%;
        height: 700px;
    }
    
    .carousel-control .control-arrow {
        font-size: 40px;
        position: absolute;
        top: 50%;
    }
    
    .carousel-control .control-arrow.left {
        left: 50px;
    }
    
    .carousel-control .control-arrow.right {
        right: 50px;
    }
    
    .carousel-control:focus,
    .carousel-control:hover,
    .left.carousel-control,
    .right.carousel-control {
        background: none;
    }
    
    .carousel-caption {
        width: 100%;
        bottom: 200px;
        left: 0;
        right: 0;
        color: white;
    }
    
    .carousel-caption .main {
        font-size: 80px;
        letter-spacing: 5px;
    }
    
    .carousel-caption .sub {
        color: white;
        font-size: 30px;
        font-style: italic;
    }
    
    .carousel-button button {
        margin-top: 20px;
        font-size: 20px;
        padding: 8px 16px;
        border: 2px solid white;
        background: none;
    }
    
    .carousel-button button:hover {
        border: 2px solid #cdd72a;
        color: #cdd72a;
        transition: all 0.3s ease-in-out;
    }
    /* ---------------------BODY INTRO--------------------- */
    
    .body .intro {
        height: 660px;
    }
    
    .body .intro .intro-text {
        padding-top: 100px;
        width: 65%;
        float: left;
    }
    
    .body .intro .intro-text h1 {
        margin: 0 0 25px 50px;
        letter-spacing: 2px;
    }
    
    .body .intro .intro-text h1::after {
        content: '';
        background: #cdd72a;
        height: 3px;
        width: 200px;
        z-index: 99;
        display: block;
        margin-top: 25px;
    }
    
    .body .intro .intro-text p {
        margin: 10px 50px;
        letter-spacing: 0.5px;
        line-height: 30px;
        font-size: 18px;
        text-align: justify;
    }
    
    .body .intro .intro-text button {
        margin-left: 50px;
        color: white;
        margin-top: 20px;
        font-size: 20px;
        padding: 8px 16px;
        background-color: #cdd72a;
        border: none;
    }
    
    .body .intro .intro-text button:hover {
        background-color: black;
        transition: all 0.3s ease-in-out;
    }
    
    .body .intro .intro-img {
        background-image: url("./IMAGE/intro.jpg");
        float: right;
        width: 35%;
        height: 100%;
    }
    
    .intro-img .intro-part {
        height: 33.33%;
        text-align: center;
        color: white;
    }
    
    .intro-img .intro-part i {
        margin-right: 10px;
    }
    
    .intro-img .intro-part i,
    .intro-img .intro-part span {
        font-size: 40px;
        font-family: 'Coustard', serif;
    }
    
    .intro-img .intro-part p {
        font-size: 25px;
        letter-spacing: 2px;
    }
    
    .intro-img .intro-part.one {
        padding-top: 100px;
    }
    
    .intro-img .intro-part.two {
        padding-top: 50px;
    }
    /* ---------------------BODY VALUES--------------------- */
    
    .body .values {
        padding: 100px 0;
        color: white;
        background-image: url("./IMAGE/bgtop.jpg");
        background-position: center;
    }
    
    .body .values-title {
        text-align: center;
        padding-bottom: 50px;
    }
    
    .body .values-title p {
        font-size: 20px;
    }
    
    .body .values h1 {
        margin: 0 0 30px 0;
    }
    
    .body .values h1::after {
        content: '';
        background: #cdd72a;
        height: 3px;
        width: 200px;
        z-index: 99;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    
    .values .values-part {
        text-align: center;
        width: 25%;
        float: left;
    }
    
    .values .values-part .fa-tint,
    .values .values-part .fa-stethoscope,
    .values .values-part .fa-graduation-cap,
    .values .values-part .fa-pagelines {
        color: #cdd72a;
        font-size: 50px;
    }
    
    .values .values-part h2 {
        margin: 35px 0 0;
        letter-spacing: 2px;
    }
    
    .values .values-part p {
        margin: 35px 0;
        font-size: 18px;
        line-height: 25px;
    }
    
    .values .values-part button {
        color: white;
        font-size: 18px;
        padding: 8px 16px;
        background-color: #cdd72a;
        border: none;
    }
    
    .values .values-part button:hover {
        background-color: black;
        transition: all 0.3s ease-in-out;
    }
    /* ---------------------BODY CAUSE--------------------- */
    
    .body .cause {
        padding-top: 100px;
    }
    
    .body .cause-title {
        text-align: center;
        padding-bottom: 50px;
    }
    
    .body .cause-title p {
        font-size: 20px;
    }
    
    .body .cause-title h1 {
        margin: 0 0 30px 0;
    }
    
    .body .cause-title h1::after {
        content: '';
        background: #cdd72a;
        height: 3px;
        width: 200px;
        z-index: 99;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    
    .cause-image .item {
        position: relative;
        overflow: hidden;
        width: 23%;
        float: left;
        margin: 0 12px;
    }
    
    .cause-image .item img {
        width: 300px;
        height: 200px;
        transition: all 0.2s ease-in-out;
    }
    
    .cause-image .item:hover img {
        opacity: 0.3;
    }
    
    .cause-image .item:hover p {
        display: block;
        transition: all 5s ease-in-out;
    }
    
    .cause-image .item p {
        border-top: 2px dashed;
        border-right: 2px dashed;
        padding: 8px 16px;
        display: none;
        font-size: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
    }
    
    .cause-more {
        letter-spacing: 5px;
        font-family: 'Song Myung', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        font-size: 30px;
        height: 150px;
        color: white;
        background-image: url("./IMAGE/bgbottom.jpg");
        background-attachment: fixed;
        background-size: cover;
    }
    
    .cause-more button {
        width: 150px;
        margin-left: 35px;
        color: white;
        font-size: 18px;
        padding: 8px 16px;
        background-color: #cdd72a;
        border: none;
    }
    
    .cause-more button:hover {
        background-color: black;
        transition: all 0.3s ease-in-out;
    }
    
    .cause-more:hover {
        transition: all 0.5s ease;
    }
    /* ---------------------BODY BLOG--------------------- */
    
    .body .blog {
        padding-bottom: 80px;
    }
    
    .body .blog-title {
        text-align: center;
        padding: 80px 0 50px 0;
    }
    
    .body .blog-title p {
        font-size: 20px;
    }
    
    .body .blog-title h1 {
        margin: 0 0 30px 0;
    }
    
    .body .blog-title h1::after {
        content: '';
        background: #cdd72a;
        height: 3px;
        width: 200px;
        z-index: 99;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    
    .blog .blog-left {
        cursor: pointer;
        float: left;
        margin-right: 50px;
        width: 50%;
        border: 1px solid rgb(201, 201, 201);
        /* box-shadow: 5px 5px 12px 0px rgb(201, 201, 201); */
    }
    
    .blog .blog-left:hover {
        box-shadow: 5px 5px 12px 0px rgb(201, 201, 201);
    }
    
    .blog .blog-left img {
        width: 623px;
        height: 500px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .blog .blog-left:hover img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    
    .blog .blog-left h3 {
        color: #cdd72a;
        margin: 30px 0 15px 30px;
    }
    
    .blog .blog-left p {
        margin: 15px 30px 30px 30px;
        line-height: 25px;
    }
    
    .blog .blog-right .blog-part {
        cursor: pointer;
        margin-bottom: 56px;
    }
    
    .blog .blog-right .blog-part img {
        width: 150px;
        height: 150px;
        float: left;
        margin-right: 50px;
    }
    
    .blog .blog-right .blog-part h4 {
        margin: 0;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .blog .blog-right h4 {
        color: #cdd72a;
    }
    
    .blog .blog-right p {
        line-height: 25px;
    }
    
    .blog .blog-right .blog-part img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .blog .blog-right .blog-part:hover>img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    /* ---------------------BODY LIFE--------------------- */
    
    .body .change-life {
        padding: 100px 0;
        /* margin-top: 80px; */
        color: white;
        /* height: 580px; */
        background-image: url("./IMAGE/bgbottom.jpg");
        background-position: center;
    }
    
    .body .life-title {
        text-align: center;
        padding-bottom: 30px;
    }
    
    .body .life-title p {
        margin: 0 250px;
        font-size: 25px;
        font-style: italic;
        letter-spacing: 3.2px;
    }
    
    .body .change-life h1 {
        margin: 0 0 30px 0;
    }
    
    .body .change-life h1::after {
        content: '';
        background: #cdd72a;
        height: 3px;
        width: 200px;
        z-index: 99;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    
    .body .change-life .life-button {
        text-align: center;
    }
    
    .body .change-life .life-button .b1 {
        margin-right: 25px;
    }
    
    .body .change-life .life-button .b2 {
        margin-left: 25px;
    }
    
    .body .change-life .life-button button {
        margin-top: 20px;
        font-size: 20px;
        padding: 8px 16px;
        border: 2px solid white;
        background: none;
    }
    
    .body .change-life .life-button button:hover {
        border: 2px solid #cdd72a;
        color: #cdd72a;
        transition: all 0.3s ease-in-out;
    }
    /* ---------------------FOOTER--------------------- */
    
    .footer .logo-footer {
        margin: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer .logo-footer img {
        cursor: pointer;
        width: 300px;
        height: 100px;
    }
    
    .footer .footer-power {
        padding: 20px 0;
        background: #f5f5f5;
        text-align: center;
    }
    
    .footer .footer-power p {
        color: rgb(172, 170, 170);
    }
    
    .footer .footer-power .icon-contact {
        font-size: 30px;
    }
    
    .footer .icon-contact .fa-facebook-square:hover {
        color: #408292;
    }
    
    .footer .icon-contact .fa-google-plus-square:hover {
        color: #cdd72a;
    }
    
    .footer .icon-contact .fa-twitter-square:hover {
        color: #ed6967;
    }
    
    .back-to-top {
        color: white;
        background-color: #464646;
        border: 1px solid #464646;
        width: 45px;
        height: 35px;
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        font-size: 25px;
        position: fixed;
        bottom: 0;
        right: 80px;
        display: none;
    }
    
    .back-to-top:hover {
        background-color: #cdd72a;
        border-color: #cdd72a;
    }